table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #00bcd4;
  color: white;
}
table th input {
  border: none;
  margin: 5px;
  padding: 5px;
}

table {
  min-width: 100%;
  border-collapse: collapse;
}

table tbody tr:hover,
table tbody tr:focus {
  background-color: rgba(63, 81, 181, 0.2);
}

table tbody tr {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}

.md-table-thumbs {
  max-width: 104px;
  width: 104px;
  padding: 16px 32px;
}

.draggable {
  cursor: move;
}
.draggable.dragging {
  opacity: 0.5;
}
.alert-success {
  padding: 20px 5px;
  border: 1px solid #04aa6d;
  background: #04aa6d;
  color: white;
  margin: 5px 20px;
}
.alert-danger {
  padding: 20px 5px;
  border: 1px solid rgb(247, 76, 76);
  background: rgb(247, 76, 76);
  color: white;
  margin: 5px 20px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #00bcd4;
  border-color: #00bcd4 transparent #00bcd4 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
