nav {
  background-color: #00bcd4;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: large;
}
.active {
  border-bottom: 2px solid #fff;
}
